<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="org.catrobat.catroid.ui.MainMenuActivity"
            android:theme="@style/AppTheme.ApkTemplate.Splash"
            tools:replace="android:theme" />

        <activity
            android:name="org.catrobat.catroid.ui.ProjectListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"
            tools:node="replace" />
    </application>

</manifest>
